body {
  background-color: #e9e3e3;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #646464;
}

.jumbotron {
  margin: 5% auto;
  width: 50%;
  text-align: center;
}


h1 {
  display: block;
  text-align: center;
  padding: 0px;
  margin: 0px 0px 20px 0px;
  color: #b50965;
  font-family: 'Pacifico', cursive;
  font-size: 36px;
}


td {
  height: 150px;
  width: 150px;
  text-align: center;
  /* border: 2px solid #646464; */
  border-radius: 5%;
  box-shadow: 10px 10px 20px #00000033;
  font-size: 100px;
  background-color: white;
  margin: 50px 49px 48px 47px;
}



table {
  margin: auto auto;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #b50965;
  background-color: #ffd8df;
  border-radius: 3px;
  border-color: #767676;
  padding: 6px 6px 6px 6px;
  box-shadow: 10px 10px 20px #00000033;
}

.xoxo {
  border-spacing: 10px;
}